.GraphQL {
  background-color: #F0F6FD;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.GraphQL textarea {
  background: url('/images/textarea.png');
  background-color: #19404A;
  background-attachment: local;
  background-repeat: no-repeat;
  border: 1px solid #D1D1D1;
  color: #EEE8D5;
  font-size: 13px;
  height: 300px;
  line-height: 16px;
  padding-left: 35px;
  padding-top: 10px;
  resize: vertical;
}

.GraphQL textarea:hover {
  border: 1px solid #777;
}
