.Curl {
  background-color: #F0F6FD;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.Curl textarea{
  background-color: #F0F6FD;
  border: 1px solid #D1D1D1;
  color: #000;
  border-radius: 10px;
  font-size: 14px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
  max-height: 300px;
  min-height: 120px;
  resize: vertical;

}

.Curl textarea:hover {
  border: 1px solid #777;
}
