.Json {
  background-color: #f0f6fd;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Json textarea {
  background-color: #19404a;
  border: 1px solid #d1d1d1;
  color: #eee8d5;
  font-size: 13px;
  height: 300px;
  line-height: 16px;
  padding-left: 35px;
  padding-top: 10px;
  resize: vertical;
}

.Json textarea:hover {
  border: 1px solid #777;
}

.json-is-saved {
}

.json-not-saved {
}

.JsonPretty:active {
  color: #79b28f;
  background-color: #adffcd;
}
