/* From this palette https://ethanschoonover.com/solarized/ */
.ResponseJson {
  background-color: #002b36;
  font-size: 12px;
}

.ResponseJson > span {
  word-wrap: break-word;
}

.json-key {
  color: #93a1a1;
}

.json-value {
  color: #93a1a1;
}

.json-number {
  color: #2aa198;
}

.json-date {
  color: #d33682;
}

.json-boolean {
  color: #cb4b16;
}

.json-string {
  color: #eee8d5;
}

.json-url {
  color: #2aa198;
}
