.ResponseHeadersTable {
  background-color: #002b36;
  font-size: 12px;
  word-wrap: break-word !important;
}

.ResponseHeadersTable > thead > th {
  color: #eee8d5;
}

.ResponseHeadersTable > tbody > td.header-value {
  word-wrap: break-word;
  word-break: break-all;
}

.ResponseHeadersTable > tbody > tr > td > .header-number {
  color: #2aa198;
}

.ResponseHeadersTable > tbody > tr > td > .header-date {
  color: #d33682;
}

.ResponseHeadersTable > tbody > tr > td > .header-key {
  color: #93a1a1;
}

.ResponseHeadersTable > tbody > tr > td > .header-url {
  color: #2aa198;
}

.ResponseHeadersTable > tbody > tr > td > .header-boolean {
  color: #cb4b16;
}

.ResponseHeadersTable > tbody > tr > td > .header-string {
  color: #eee8d5;
}

@media screen and (max-width: 600px) {
  .ResponseHeadersTable > tbody > tr > td[data-label]::before {
    color: #eee8d5;
  }
}
