.Headers {

}

.Headers button {
  border: 1px solid #69B8A4;
  border-radius: 30px;
  background-color: #9BDACA;
}

.Headers button:hover {
  background-color: #C9F0E6;
  border: 1px solid #EFFDF9;
}
