.Headers {
}

.Headers button {
  border: 1px solid #69b8a4;
  border-radius: 30px;
  background-color: #9bdaca;
}

.Headers button:hover {
  background-color: #c9f0e6;
  border: 1px solid #effdf9;
}
