.ListHistoryEntry {
  background-color: #002b36;
  border: 1px solid #60b8a4;
  color: #fff;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.ListHistoryEntry.dark {
  background-color: #002b36;
}

.ListHistoryEntry.light {
  background-color: #004a5d;
}

.ListHistoryEntryMethod {
  border: 1px solid #d1d1d1;
  border-radius: 30px;
  text-align: center;
  height: 38px;
  line-height: 38px;
  vertical-align: middle;
}

.ListHistoryEntryMethod.get {
  background-color: #43d1d9;
  color: #16696d;
}

.ListHistoryEntryMethod.post {
  background-color: #dcce88;
  color: #9c8b2e;
}

.ListHistoryEntryID {
  color: #eee8d5;
  text-align: center;
  height: 38px;
  line-height: 38px;
  vertical-align: middle;
}

.ListHistoryEntryDest {
  color: #eee8d5;
  text-align: center;
  height: 38px;
  line-height: 38px;
  vertical-align: middle;
}

.ListHistoryEntryDest > a {
  color: #eee8d5;
}

.ListHistoryEntryAction > button {
  background-color: #eee8d5;
}

.ListHistoryEntryAction > button:hover {
  background-color: #f9f7f1;
}
