.ListHistoryEntry {
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.ListHistoryEntry.dark {
}

.ListHistoryEntry.light {
}

.ListHistoryEntryMethod,
.ListHistoryEntryStatus,
.ListHistoryEntryID,
.ListHistoryEntryDest {
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  vertical-align: middle;
  word-break: break-all;
  word-wrap: break-word;
}

.ListHistoryEntryMethod.get {
  background-color: #43d1d9;
  color: #16696d;
}

.ListHistoryEntryMethod.post {
  background-color: #dcce88;
  color: #9c8b2e;
}

.ListHistoryEntryID,
.ListHistoryEntryDest {
  cursor: pointer;
  font-weight: normal;
}

.ListHistoryEntryID:hover,
.ListHistoryEntryDest:hover {
  border: 1px solid #777;
}

.ListHistoryEntryDest > a {
}

.ListHistoryEntryAction > button {
  background-color: #eee8d5;
}

.ListHistoryEntryAction > button:hover {
  background-color: #f9f7f1;
}

.ListHistoryEntryStatus.success {
  background-color: #43d1d9;
  color: #16696d;
}

.ListHistoryEntryStatus.redirect {
  background-color: #dcce88;
  color: #9c8b2e;
}

.ListHistoryEntryStatus.client {
  background-color: #dc8888;
  color: #754949;
}

.ListHistoryEntryStatus.server {
  background-color: #dc889e;
  color: #754955;
}
