.Autocomplete {
  max-height: 200px;
  overflow-y: scroll;
}

.AutocompleteList {
}

.AutocompleteResults {
  margin-bottom: 10px;
}

.AutocompleteResultsList {
}

.AutocompleteResultsList > li {
  list-style-type: none;
}

.AutocompleteResultsList > li:hover {
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}
