.SavingNotice {
  border: 1px solid #d1d1d1;
  border-radius: 30px;
  font-weight: bold;
  height: 38px;
  line-height: 38px;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  vertical-align: middle;
  word-break: break-all;
  word-wrap: break-word;
}

.Saved {
  color: #79b28f;
  background-color: #adffcd;
}

.NotSaved {
  color: #b27979;
  background-color: #ffadad;
}

.save-notice-enter {
  opacity: 0.01;
}

.save-notice-enter.save-notice-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
