.Tooltip {
  position: relative;
}

.Tooltip .TooltipText {
  visibility: hidden;
  min-width: 120px;
  max-width: 200px;
  word-wrap: break-word;
  background-color: black;
  color: #fff;
  font-family: verdana;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  border-radius: 6px;
  padding: 2px 5px 2px 5px;
  position: absolute;
  text-transform: none;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
  white-space: pre-wrap;
  z-index: 100;
}

.Tooltip .TooltipText::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.Tooltip:hover .TooltipText {
  visibility: visible;
  animation: 2s fadeOut;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
