.Proxy input {
  background-color: #EFFDF9;
  border-radius: 30px !important;
  padding-left: 15px !important;
}

.Proxy input:hover {
  border: 1px solid #777 !important;
}

.Proxy input:disabled {
  background: #DDD;
}
