.Proxy input {
  background-color: #effdf9;
  border-radius: 30px !important;
  padding-left: 15px !important;
}

.Proxy input:hover {
  border: 1px solid #777 !important;
}

.Proxy input:disabled {
  background: #ddd;
}

.ProxyPreview {
  background-color: #f0f6fd;
  text-align: center;
  margin: 5px 0px 5px 0px;
  padding: 10px 0px 10px 0px;
  word-wrap: break-word;
  word-break: break-all;
}
